# Ignore All Zip
*.Zip

# Ignore Specific Folder
aug/
data_leon/
data_leon2/
data_leon-Copy1/
data_Nanta/
image/
data_tambahan/
API/asset_jari/
API/__pycache__/
API/tmp/

# Ignore ipynb_checkpoints
.ipynb_checkpoints/

# Ignore .mp4
*.mp4 